{% extends "base.twig" %}
{% import "macros.twig" as func %}

{% block contents %}
    
    <section>
        <div class="container">
            <div class="entry-list">

                {% for post in posts %}
                    <article>
                        <h2><a href="/detail/{{ post.id }}">{{ post.title }}</a></h2>
                        <time datetime="{{ post.date }}">{{ func.dateString(post.date) }}</time>
                    </article>    
                {% endfor %}


                
            </div>
        </div>
    </section>

{% endblock contents %}