{% extends "base.twig" %}
{% import "macros.twig" as func %}

{% block contents %}
    
    <section>
        <div class="container">
            <div class="entry-list">

                {% for post in posts %}
                    {% set query = { 'id': post.id, 'title': post.title|url_encode } %}
                    
                    <article>
                        <h2><a href="/detail?{{ query|url_encode }}">{{ post.title }}</a></h2>
                        <time datetime="{{ post.date }}">{{ func.dateString(post.date) }}</time>
                    </article>    
                {% endfor %}
 
            </div>
        </div>
    </section>

{% endblock contents %}